@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pt-safe {
    padding-top: max(env(safe-area-inset-top), 12px);
  }
  .pb-safe {
    padding-bottom: max(env(safe-area-inset-bottom), 16px);
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
